#Encabezado {
    font-size: 50px;
}

#bordeAzul {
    border: 3px solid #59C0E4;
    border-radius: 30px;
}

#bordeAzulCongresistas {
    border-bottom: 3px solid #59C0E4;
}

.bordeCongresistas {
    border: 3px solid #EABC54;
}

.TamanioCongresista{
    font-size: 35px;
}

.fondo {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #fff;
    z-index: 1;
}

.trianguloo {
    position: absolute;
    bottom: 25px;
    left: -110px;
    width: 70vh;
    height: 30vh;
    border-left: 10vw solid transparent;
    border-right: 10vw solid transparent;
    border-top: 12vw solid #e66b4c;
    z-index: -1;
}

.circulo {
    position: absolute;
    bottom: -0vh;
    right: -10vw;
    width: 25vw;
    height: 20vw;
    background-color: #3b9ae1;
    border-radius: 50%;
    z-index: -1;
}

.cuadrado {
    position: absolute;
    top: 0vh;
    right: 0vw;
    width: 15vw;
    height: 15vw;
    background-color: #f5b947;
    z-index: -1;
}